#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Frozen RPC
Comment=Discord Rich Presence injector
Exec=frozen-rpc
Icon=assets/icon.png
Terminal=false
Type=Application
Categories=Network;Utility;
