#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Frozen RPC
Comment=Discord Rich Presence injector
Exec=frozen-rpc
Icon=com.frozenhq.frozenrpc
Terminal=false
Type=Application
Categories=Network;Utility;
StartupNotify=true
